.App {
  text-align: center;

}

.slick-initialized {
  width: 97%;
  height: 80vh;
  background-color: #fff7f7;
  margin: auto;
}

.slide1 img, .slide2 img{
  height: 80vh;
  float: right;
}

.slide1Text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 60px;
  line-height: 95px;
  color: #545454;
  margin-top: 105px;
  margin-left: 100px;
  text-align: left;
}

.slide2Text {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  line-height: 80px;
  color: #545454;
  margin-top: 200px;
  margin-left: 10px;
}

.slide1 button 
{
  width: 160px;
  height: 60px;
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  background: #ff6060;
  border: none;
  position: relative;
  margin-left: -790px;
}

.slide2 button 
{
  width: 160px;
  height: 60px;
  font-size: 23px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  color: white;
  background: #ff6060;
  border: none;
  position: relative;
  margin-top: 80px;
}