.App {
  text-align: center;
  width: 100%;
}


.container {
  width: 95%;
  margin-left:35px;
  height: 95vh;
  background: #fff7f7;
}

.container img {
  height: 95vh;
  
  float: right;
}

.container h2 {
  position: absolute;
  top:130px;
  left: 80px;
  text-align: left;
  font-size: 45px;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 80px;
  color: #545454;
}

.container button {
  position: absolute;
  top:500px;
  left: 80px;
  padding: 12px 30px;
  background-color: #ff6060;
  border: none;
  color: white;
  font-family:sans-serif;
  font-weight: bold;
  font-size: 20px;

}